<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Rika</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSSupportsLiveActivitiesFrequentUpdates</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>quest.srihari.rika.refresh</string>
	</array>
	<key>RikaConfig</key>
	<dict>
		<key>TodoistBaseURL</key>
		<string>$(TODOIST_BASE_URL)</string>
		<key>MiraieBaseURL</key>
		<string>$(MIRAIE_BASE_URL)</string>
		<key>MotraBaseURL</key>
		<string>$(MOTRA_BASE_URL)</string>
		<key>MedxBaseURL</key>
		<string>$(MEDX_BASE_URL)</string>
		<key>AIUsageBaseURL</key>
		<string>$(AI_USAGE_BASE_URL)</string>
		<key>AppGroupID</key>
		<string>$(APP_GROUP_ID)</string>
		<key>TodoistAPIToken</key>
		<string>$(TODOIST_API_TOKEN)</string>
		<key>MiraieAuthToken</key>
		<string>$(MIRAIE_AUTH_TOKEN)</string>
		<key>MiraieDeviceID</key>
		<string>$(MIRAIE_DEVICE_ID)</string>
		<key>StudytimePassword</key>
		<string>$(STUDYTIME_PASSWORD)</string>
	</dict>
</dict>
</plist>
